 h2::first-letter{
    font-size: 4rem;

} 
h2 +p{
   text-indent: 2em;
}
a::before {
    content: "\1F449 ";
}
abbr::after{
    content:"("attr(title)")"
}
li:first-child{
    background-color: rgba(254, 254, 17, 0.932);
}
li:last-child{
    background-color: rgba(60, 60, 60, 0.485);
}
li:nth-child(odd){
    border: 1px solid rgb(221, 101, 179);
}
:root{
    font-family: 'Raleway', sans-serif;
}